@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2")  format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2")  format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2")  format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.page-container {
  min-height: 100%;
}

.pink-theme {
  background-color: #feafc3;
}

.blue-theme {
  background-color: #69a9ff;
}

.yellow-theme {
  background-color: #fcc850;
}

.page-container2 {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 103.72px;
  color: #2d3440;
}

.navigation-logo {
  display: block;
  min-width: 137px;
  min-height: 55.72px;
  margin: auto 0;
  padding: 0;
}

.navigation-logotype {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link-dropdown {
  position: relative;
  padding: 8px 38px 8px 16px;
}

.navigation-link-dropdown::after {
position: absolute;
content: "";
width:10.67px;
height: 6px;
background-image: url("../images/svg/navigation-arrow.svg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
top: 14px;
right: calc(100% - 97.67px);
}

.navigation-user {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 517px;
  flex-wrap: wrap;
  min-width: 431px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item-phone {
min-height: 32px;
}

.navigation-link-phone {
  display: block;
  width: 148px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.phone-icon {
  fill: #2d3440;
  position: absolute;
  top: 10px;
  left: 2px;
}

.navigation-link-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 16px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.search-input {
  color: #b9b9b9;
  border: 1px solid #b9b9b9;
}

.navigation-link-favourite:hover,
.navigation-link-autorisation:hover,
.navigation-link-phone:hover,
.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link-search:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link-favourite:focus,
.navigation-link-autorisation:focus,
.navigation-link-phone:focus,
.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border-radius: 30px;
  }

.navigation-link-search:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  }

.navigation-link-favourite:active,
.navigation-link-autorisation:active,
.navigation-link-phone:active,
.navigation-link:active {
  background-color: #fcfcfc;
  background-repeat: 30px;
  color: #b9b9b9;
  }

.navigation-link-search:active {
  background-color: rgba(252, 252, 252, 0.5);
  }

.navigation-link-autorisation:active >.autorisation,
.navigation-link-favourite:active >.favourite {
  fill:#b9b9b9;
}

.phone-icon:active,
.search-icon:active {
  fill:#b9b9b9;
}

.navigation-link-autorisation {
  width: 88px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.autorisation {
  display: block;
  margin-right: 6px;
  fill: #2d3440;
}

.navigation-link-favourite {
  width: 115px;
  min-height: 32px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.favourite {
display: block;
margin-right: 7px;
fill: #2d3440;
}

.main-container {
  flex-grow: 1;
}

.ice-cream-slider {
  display: grid;
  grid-template-columns: 540px 630px;
  padding-bottom: 80px;
}

.slider-item-text {
  width: 540px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 136px;
  padding-left: 70px;
}

.ice-cream-title {
  display: block;
  min-width: 470px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 25px;
  color: #2d3440;
}

.ice-cream-description {
  display: block;
  min-width: 429px;
  font-style: 18px;
  line-height: 24px;
  margin-bottom: 48px;
  color: #2d3440;
  letter-spacing: 1.15px;
}

.ice-cream-button {
  width: 139px;
  min-height: 44px;
  display: flex;
  align-items: center;
  padding: 9px 32px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.15px;
  color: #2d3440;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.slider-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item-active {
  position: relative;
  width: 348px;
  box-sizing: border-box;
  height: 100%;
  }

.slider-image1 {
  position: relative;
  display: block;
  margin: 21px 21px 0 21px;
  object-fit: content;
  z-index: 2;
}

.slider-item-active::after {
  position: absolute;
  content: "";
  width:312px;
  height: 312px;
  background-color: #ffcbd8;
  border-radius: 50%;
  top: 122px;
  right: calc(100% - 330px);
  z-index: 0;
}

.slider-item-another {
  position: relative;
  width: 100px;
  box-sizing: border-box;
  min-height: 150px;
  padding-top: 183px;
  }

.slider-image2,.slider-image3{
  position: relative;
  display: block;
  margin: 25px 17px 0 17px;
  object-fit: contain;
  z-index: 2;
}

.slider-item-another::after {
  position: absolute;
  content: "";
  width:100px;
  height: 100px;
  background-color: #ffcbd8;
  border-radius: 50%;
  top: 229px;
  right: calc(100% - 100px);
  z-index: 0;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
  z-index: 999;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: #ffffff;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
}

.next,
.prev {
  fill:#fcfcfc;
}

.slider-button:hover {
  background-color: #fcfcfc;
}

.slider-button:hover svg {
  fill:#2d3440;
}

.slider-button:focus {
  border: 2px solid #ffcbd8;
  background-color: #ffcbd8;
  outline: none;
}

.slider-button:focus svg {
  fill:#2d3440;
}

.slider-button:active {
  background-color: #ffcbd8;
  border: 2px solid #2d3440;
}

.slider-button:active svg  {
  fill:#2d3440;
}

.slider-button:default {
  background-color: #b9b9b9;
}

.slider-button:default svg {
  fill:#b9b9b9;
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background-color: #ffcbd8;
}

.slider-pagination-button:focus {
  border: none;
  background-color: #fcfcfc;
  outline: 1px solid #2d3440;
}

.slider-pagination-button:active {
  outline: 1px solid #2d3440;
  background-color: #ffcbd8;
}

.slider-pagination-button:default {
  background-color: #e7e7e7;
  outline: 1px solid rgba(252, 252, 252, 0.4);
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-youtube,
.social-vk,
.social-tg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.social-youtube:hover,
.social-vk:hover,
.social-tg:hover {
  background-color: #2D3440;
}

.social-youtube:focus,
.social-vk:focus,
.social-tg:focus {
  background-color: #2D3440;
  outline: none ;
}

.social-youtube:focus svg,
.social-vk:focus svg,
.social-tg:focus svg {
fill: rgba(252, 252, 252, 0.5);
}

.social-youtube:active,
.social-vk:active,
.social-tg:active {
  background-color: #2D3440;
}

.order {
  display: block;
  padding: 0 368px;
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-bottom: 53px;
  text-align: center;
}

.banners-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 71px;

}

.banner-wrapper1,
.banner-wrapper2 {
  display: grid;
  grid-template-columns: 351px 219px;
  background-color: #ff7799;
  border-radius: 16px;
  margin-bottom: 10px;
}

.banner-picture {
  display: block;
  height: 100%;
  object-fit: contain;
}

.banner-text {
  margin: 0;
  padding: 36px 0 32px 34px;
  color: #2d3440;
}

.banner-title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-description {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  z-index: 999;
}

.banner-button {
  min-width: 176px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  font-size:16px;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.ice-cream-button:hover,
.banner-button:hover {
  background-color: #ffcbd8;
  border:4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15);
}

.ice-cream-button:focus,
.banner-button:focus {
  background-color: #fcfcfc;
  border:none;
  outline:2px solid #2D3440;
}

.ice-cream-button:active,
.banner-button:active {
  border: 2px solid #2D3440;
  background-color: #ffcbd8;
}

.ice-cream-button:default,
.banner-button:default {
  background-color: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  color:#B9B9B9;
}

.products {
  margin-bottom: 85px;
}
.order-products {
  display: block;
  padding: 0 auto;
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-bottom: 105px;
  text-align: center;
}

.products-list {
  display: grid;
  grid-template-columns:  270px 270px 270px 270px;
  margin: 0;
  gap: 60px 30px;
  padding: 0;
  list-style-type: none;
}

.catalog-products-list {
  gap: 91px 30px;
}

.products-item {
  min-height: 281px;
  background-color: #fcfcfc;
  color: #2d3440;
  border-radius: 8px;
  text-align: center;
  padding: 0 40px 0 40px;

}

.product-picture {
  display: block;
  margin-top: -51px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.product-title-catalog {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-description {
  display: block;
  margin: 8px auto 16px auto;
  padding: 0;
}

.price-and-basket {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-price-catalog {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 8px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.product-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.product-button:hover.product-basket {
fill: #2D3440;
}

.product-button:focus {
  border: none;
  outline: 2px solid #ff2f64;
  background-color:#ffcbd8;
}

.product-button:focus.product-basket {
  fill: #2D3440;
}

.product-button:active {
  border:  2px solid #2d3440;
  background-color: #ff2f64;
  color: #fcfcfc;
}

.product-button:default {
  border:  2px solid rgba(185, 185, 185, 0.3);
  background-color: #b9b9b9;
}

.product-button:default.product-basket {
  fill:#565c66;
}

.shop-advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1170px;
  min-height: 480px;
  margin-bottom: 76px;
  background-image: url("../images/border.png");
  background-repeat: repeat;
  border-radius: 16px;
}

.border-shop-advertisement {
  text-align: center;
  width: 1122px;
  min-height: 432px;
  margin: 24 px auto;
  background-color: #fff;
  border-radius: 16px ;
}

.shop-advertisement-title {
  padding: 52px 63.5px 0 63.5px;
  margin: 0;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.shop-advantage-wrapper {
  display: grid;
  grid-template-columns: 505.5px 505.5px;
  gap: 40px 31px;
  padding: 0 40px 56px 40px;
  text-align: left;
}

.shop-advantage  {
  position: relative;
  display: flex;
  justify-content: start;
  max-width: 442px;
  margin: 0;
  margin-left: 64px;
  padding: 0;
}

.advantage1::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("../images/svg/advanture1.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
  left: -66px;
}

.advantage2::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("../images/svg/advanture2.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
  left: -66px;
}

.advantage3::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("../images/svg/advanture3.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
  left: -66px;
}

.advantage4::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url("../images/svg/advanture4.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
  left: -66px;
}

.helpful-tips {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.helpful-tips-wrapper1 {
  display: flex;
  flex-direction: column;
  width:570px ;
  background-image: url("../images/serving.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right -48px top -80px;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 10px;
}

.helpful-tips-blog {
  padding: 32.59px 235px 0 32px;
  margin: 0;
  margin-bottom: 12.22px;
  line-height: 20px;
}

.helpful-tips-title {
  padding: 0 235px 67.15px 32px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

}
.helpful-tips-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  min-height: 224px;
  background-image: url("../images/border-lines.png");
  background-repeat: repeat;
  border-radius: 16px;
  margin-bottom: 10px;
}

.helpful-tips-wrapper-wrapper2 {
  text-align: left;
  width: 558px;
  min-height: 212px;
  background-color: #fff;
  border-radius: 16px ;
}

.helpful-tips-subscribe {
  padding: 26px 26px 0  26px ;
  margin: 0;
  margin-bottom: 42px ;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 52px;
  padding: 0 26px 26px 26px;
  margin: 0;
}

.newsletter-email {
  margin: 0;
}

.field-e-mail {
  width: 332px;
  min-height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;
  flex-grow: 1;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.newsletter-button {
  width: 160px;
  min-height: 44px;
  display: flex;
  align-items: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.delivery {
  display: grid;
  grid-template-columns: 606px 564px;
  width: 1170px;
  text-align: left;
  background-image: url("../images/delivery-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
}

.description-delivery {
  padding: 167px 135px 163px 100px;
}

.description-delivry-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 24px;
}

.description-delivry-text {
  margin: 0;
}

.data-delivery {
  width: 500px;
  min-height: 406px ;
  margin:  64px 64px 64px 0;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.data-delivery-info {
  padding: 40px 40px 32px 40px;
  margin: 0;
}

.data-delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 0 16px;
  margin: 0;
  padding:0 40px;
}

.appointment-form-adress {
  grid-column: 1/3;
}

.form-label  {
min-height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.form-label-icon {
  position: relative;
}

.field-group {
  margin: 0;
  margin-bottom: 20px;
}

.field {
  margin: 0;
  margin-top: 7px;
  padding: 13px 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: top;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.tooltip {
  margin-top: 4px;
  margin-left: 5px;
  position: absolute;
  width: 12.42px;
  height: 12.42px;
  cursor: pointer;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill:#2d3440;
  display: block;
}

.tooltip-text {
  text-align: left;
  vertical-align: center;
  background-color: #fff;
  color: #2d3440;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: none;
  padding: 14px 16px;
  margin: auto;
  width: 440px;
  position: absolute;
  z-index: 1;
  display: none;
}

.tooltip-text1 {
top: 18px;
left: -44px;
}

.tooltip-text2 {
  top: 18px;
  left: -56px;
}

.delivery-submit {
  margin: 0 auto;
  width: 160px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.delivery-submit:hover,
.newsletter-button:hover,
.feedback-submit:hover {
background-color: rgba(252, 252, 252, 0.3);
border: 4px solid #ff2f64;
color: #2d3440;
}

.delivery-submit:focus,
.newsletter-button:focus,
.feedback-submit:focus {
  border: none;
  outline: 2px solid #2d3440;
  background-color:#ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  color:   #fcfcfc;
}

.delivery-submit:active,
.newsletter-button:active,
.feedback-submit:active {
  border:  2px solid #2d3440;
  background-color: #ff2f64;
  color: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.delivery-submit:default,
.newsletter-button:default,
.feedback-submit:default {
  border:  4px solid rgba(185, 185, 185, 0.3);
  background-color: #b9b9b9;
  color: #fcfcfc;
}

.delivery-button {
  grid-column: 1/3;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.feedback {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 492px;
  background-image: url("../images/background-feedback.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.feedback-wrapper {
  display: block;
  width: 343px;
  background-color: #fcfcfc;
  margin-left: 64px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.feedback-wrapper-text {
  max-width: 263px;
  margin: 0;
  padding: 40px 40px 0 40px;
}

.feedback-text {
  width: 179px;
  margin: 0;


  margin-bottom: 12px;
}

.feedback-text1 {
  width: 203px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.office-adress,
.phone-number  {
  display: block;
  width: 263px;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.office-adress {
margin-bottom: 25px;
}

.telephone {
  margin: 0;
}

.opening-hours {
  width: 160px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.feedback-button {
  display: flex;
  justify-content: start;
  margin: 0;
  padding-left: 37px;
  padding-bottom: 36px;
}

.feedback-submit {
  margin: 0;
  width: 258px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.about-us {
  display: grid;
  grid-template-columns: 104px 299px 174px 182px 203px 190px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.information-for-supplier {
  grid-column: 3/4;
}

.footer-social-links-list {
  justify-content: space-between;
}

.footer-social-youtube,
.footer-social-vk,
.footer-social-tg {
  margin: 0;
  position: relative;
  display: block;
  height: 28px;
  width: 28px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.footer-social-youtube:hover,
.footer-social-vk:hover,
.footer-social-tg:hover {
  background-color: #2D3440;
}

.footer-social-youtube:hover,
.footer-social-vk:hover,
.footer-social-tg:hover {
  background-color: #2D3440;
}

.footer-social-youtube:focus,
.footer-social-vk:focus,
.footer-social-tg:focus {
  background-color: #2D3440;
  outline: none ;
}

.footer-social-youtube:focus svg,
.footer-social-vk:focus svg,
.footer-social-tg:focus svg {
fill: rgba(252, 252, 252, 0.5);
}

.footer-social-youtube:active,
.footer-social-vk:active,
.footer-social-tg:active {
  background-color: #2D3440;
}

.information-for-supplier {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.information-link {
  margin-bottom: 8px;
  margin-left: 26px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.information-link-main  {
position: relative;
font-weight: 700;
}

.information-link-main::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top:3px;
  right: 158px;
}

.documents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.information-link-documents {
  margin-left: 0;
}

.logotype {
  grid-column: 6/7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.made-in,
.made-in-link {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 0;
  margin-top: 10px;
}

.navigation-item-dropdown{
position: relative;
}

.dropdown-wrapper {
  display: none;
  position: absolute;
  left: 17px;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-width: 138px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  z-index: 1;
  text-align: left;
  padding: 0;
}

.dropdown-list{
  list-style-type: none;
  padding: 0;
}

.dropdown-title {
  position: relative;
  width: 103px;
  font-weight: 700;
  padding: 16px 0 12px 0;
  margin: 0 auto;
  border-bottom: 1px solid #b9b9b9;
}

.dropdown {
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

.navigation-item-dropdown:focus-within > .dropdown-wrapper {
  display: block;
}

.navigation-item-dropdown:hover > .dropdown-wrapper {
  display: block;
}

.dropdown-list a:hover {
  background-color: #ffcbd8;
}

.dropdown-list a:focus {
  background-color: #ff7799;
  outline: none;
}

.dropdown-list a:active {
  background-color: #ff4A78;
}

.navigation-item-search {
  position: relative;
}

.search-form {
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: #fcfcfc;
  width: 356px;
  border-radius: 4px;
  padding: 24px 16px;
  margin: 0;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  z-index: 1000;
top: 32px;
  right: 0;
}

.search-input {
height: 48px;
width: 324px;
margin: 0;
box-sizing: border-box;
  background-color: #fff;
  padding: 14px 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.navigation-item-search:hover .search-form {
  display: block;
}

.navigation-item-search:focus-within > .search-form {
  display: block;
}

.search-input:focus::placeholder,
.search-input:active::placeholder{
  color: #2d3440;
}

.search-input:focus,
.search-input:active {
  outline: none;
  border: 1px solid #2d3440
}

.navigation-item-autorisation {
  position: relative;
}

.autorisation-container {
  display: none;
  position: absolute;
  width: 420px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  z-index: 1000;
  top: 32px;
  right: 0;
  text-align: center;
}

.autorisation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 48px 48px 0 48px;
  margin: 0;
  margin-bottom: 32px ;
}

.email,
.password {
  margin: 0;
  margin-bottom: 16px;
  padding: 0 48px 0 48px;
  width: 324px;
  height: 48px;
}

.email-input,
.password-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  line-height: 22px;
  color: #2d3440;
  cursor: pointer;
}

.password-input {
  padding: 22px 16px;
}

.autorisation-wrapper {
  padding: 0 48px 52px 48px ;
  display: grid;
  grid-template-columns: 113px 188px;
  column-gap: 23px;
  margin-top: 32px;
}

.button-enter {
  margin: 0;
  width: 113px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.forgot-password {
  grid-column: 2/3;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.forgot-password-link,
.registration-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.navigation-item-autorisation:hover .autorisation-container {
display: block;
}

.navigation-item-favourite {
  position: relative;
}

.favourite-container {
  display: none;
  position: absolute;
  width: 441px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  z-index: 1000;
  top: 32px;
  right: 0;
  text-align: left;
}

.autorisation-title {
  color: #2d3440;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding: 48px 48px 0 48px;
  margin: 0;
  margin-bottom: 32px ;
}

.favourite-product-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0 48px 0 48px;
}

.favourite-product-item {
  display: flex;
  margin-bottom: 24px;
}

.name-of-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 148px;
  margin: 0 16px 0 16px;
}
.product-title,
.final-price {
  color: #2d3440;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.product-price {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.final-price {
width: 100px;
align-self: center;
}

.modal-close-button {
  background-color: transparent;
  border: 0;
  align-self: center;
}

.favourite-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 48px 48px 48px;
}


.navigation-item-favourite:hover  .favourite-container{
  display: block;
}

.favourite-ordering {
  margin: 0;
  max-width: 206px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: #ff2f64;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  text-decoration: none;
  border: 4px solid #ffcbd8;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.favourite-total-price {
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}
